@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-3">
    <div class="row rounded rounded-3 border border-3 border-dark mx-auto" style="width:80%">
        <div class="col-md-6 p-0">
            <img class="img-fluid" src="~/images/bia/Business_Analytics_02_generated.jpg" />
        </div>
        <div class="col-md-6">
            @using (Html.BeginForm("Login", "Customer", FormMethod.Post))
            {
                <h3 class="text-center mt-2"><b>Đăng nhập</b></h3>
                <div class="mb-3">
                    <label for="username" class="form-label">Tài khoản</label>
                    <input type="text" name="userName" class="form-control border-dark" id="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Mật khẩu</label>
                    <input type="password" name="password" class="form-control border-dark" id="password" required>
                </div>
                <div class="mb-3">
                    Bạn chưa có tài khoản ? <span><a href="@Url.Action("SignUp","Customer")">Đăng ký</a></span>
                </div>
                <div class="mb-1 text-center">
                    <button type="submit" class="btn btn-primary w-100 mx-auto text-center"><b>Đăng nhập</b></button>
                </div>
                <div class="my-3 text-center">
                    Hoặc đăng nhập với
                </div>
                <div class="text-center">
                    <a class="mx-2" href="@Url.Action("FacebookLogin", "Customer")" style="text-decoration:none;">
                        <i class="fab fa-facebook fa-3x"></i>
                    </a>
                </div>

            }
        </div>
    </div>
</div>


