
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container border border-1 shadow rounded rounded-3 my-3">
    <div class="row">
        <div class="pt-3">
            <h2>Về chúng tôi</h2>
        </div>

        <hr />
        <div class="col-9">
            <p>
                Công ty thương mại kỹ thuật số THT Store - Chuyên buôn bán,
                kinh doanh các loại laptop, xách tay nhập khẩu...
            </p>
            <p>
                Công ty thương mại và kỹ thuật số THT Store được thành lập tháng 10 năm 2020,
                là đơn vị chuyên cung cấp các sản phẩm, linh kiện điện tử trong ngành kỹ thuật
                số như laptop chính hãng, hàng xách tay nhập khẩu Mỹ, Nhật, Châu âu… Công ty chuyên
                bán các dòng laptop cao cấp dell precision, dell XPS, dell latitude,
                Dell Inspiron HP Mobile Workstation, HP Elitebook, HP Zbook, Macbook,...
            </p>
            <p>
                Với trang thiết bị hiện đại cùng với đội ngũ nhân viên chuyên nghiệp,
                lành nghề, Công ty thương mại mà kỹ thuật số THT Store cam kết mang lại
                cho quý khách hàng các sản phẩm với chất lượng tốt nhất, giá cả hợp lý
                đi kèm với dịch vụ bảo hành dài hạn và giao hàng nhanh chóng, quý khách hàng
                chắc chắn sẽ hài lòng mỗi khi mua hàng tại công ty.
            </p>
            <p>
                Uy tín làm nên thương hiệu, THT Store tự tin là nhà cung cấp sản phẩm kỹ thuật số
                tốt nhất tại Tp.Hồ Chí Minh. Với sự chuyên môn hóa trong từng bộ phận, tính trách nhiệm cao
                cùng với phong cách làm việc chuyên nghiệp nghiêm túc nhằm hòa thiện sản phẩm
                đến từng chi tiết. Đó là điều làm nên thương hiệu cho THT Store chúng tôi.
            </p>
            <p>
                Sự tin tưởng và ủng hộ của khách hàng chính là nguồn động viên to lớn cho công ty
                trên bước đường phát triền, và chúng tôi-Công ty thương mại và kỹ thuật số THT Store
                xin hứa sẽ không ngừng vươn tới là nhà cung cấp sản phẩm uy tín số 1 miền Nam để
                xứng đáng với sự tin tưởng của quý khách hàng.
            </p>
            <p>Để liên hệ hoặc góp ý phản ánh :</p>
            <p>Công ty TNHH thương mại và kỹ thuật số THT Store</p>
            <p>Số 475A Điện Biên Phủ, P.25, Q.Bình Thạnh, TP.HCM</p>
            <p>Liên hệ đường dây nóng: 0989.969.919</p>
            <p>Website: <a href="http://thtlaptop.somee.com/" target="_blank">http://thtlaptop.somee.com/</a></p>
            <p>Facebook fanpage: <a href="https://www.facebook.com/thtlaptop/" target="_blank">https://www.facebook.com/thtlaptop/</a></p>
        </div>
        <div class="col-3">
            <div class="row">
                <img src="~/images/quangcao/quangcao4.png">
            </div>
            <div class="row">
                <img src="~/images/quangcao/google-noi-ve-inova.gif">
            </div>
            <div class="row">
                <img src="~/images/quangcao/hieu-qua.gif">
            </div>

        </div>
    </div>
</div>


