
@{
    ViewBag.Title = "Condition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container border border-1 shadow rounded rounded-3 my-3">
    <div class="row">
        <div class="pt-3">
            <h2>Điều kiện bảo hành</h2>
        </div>
        <hr />
        <div class="col-12">
            <b>Các sản phẩm máy tính xách tay do THT Laptop store kinh doanh được bảo hành có thời hạn khi thỏa mãn các điều kiện sau:</b>
            <p>- Tem bảo hành của công ty THT Laptop store còn nguyên vẹn.</p>
            <p>Máy tính xách tay còn trong thời hạn bảo hành. Thời hạn bảo hành được tính từ thời gian ghi trên tem bảo hành cộng
            thêm thời gian bảo hành mà THT Laptop store ghi trên phiếu bảo hành hoặc phiếu bán hàng.</p>
            <p>- Máy tính xách tay đủ điều kiện bảo hành theo điều kiện bảo hành của công ty THT Store và theo quy định của từng hãng sản xuất.</p>
            <p>- Máy tính xách tay phát sinh lỗi kỹ thuật ảnh hưởng đến khả năng hoạt động và tình trạng của thiết bị. Lỗi kỹ thuật là lỗi
            do quy trình sản xuất sản phẩm từ nhà sản xuất, không bao gồm các lỗi phát sinh do quá trình sử dụng sai quy cách hoặc do lỗi phần mềm hoặc do thiên tai, cháy nổ v.v...</p>
            <p>- Thời gian nhận bảo hành từ 14h đến 18h chiều và được ghi rõ ràng trên phiếu bán hàng. Đề nghị quý khách mang sản phẩm bảo hành đến THT Store
            theo thời gian quy định, các trường hợp mang đến không đúng thời gian quy định chúng tôi sẽ từ chối tiếp nhận.</p>
            <p>- Riêng pin máy tính thời gian bảo hành là 01 tháng cho tất cả các sản phẩm.</p><br />
            <b>Một số lưu ý:</b>
            <p>- Điểm chấm màn hình không phải là lỗi kỹ thuật. Nếu số điểm chấm màn hình không vượt quá quy định của hãng sản xuất công bố thì không thuộc phạm vi bảo hành.</p>
            <p>- Thời gian sử dụng pin dưới 70% thời gian công bố của hãng thì được xem là lỗi kỹ thuật của pin. Ngoại trừ các trường hợp khách hàng sử dụng pin sai quy cách 
            hoặc sai công năng của pin (dùng laptop để sạc điện thoại, sạc các thiết bị khác qua cổng USB, v.v.) thì không được xem là lỗi kỹ thuật.</p>
            <p>- Tình trạng kén đĩa của ổ đĩa quang không thuộc phạm vi bảo hành. Chất lượng đọc / ghi nội dung tốt nhất khi sử dụng đĩa có chất lượng cao.</p>
            <p>- Ảnh hưởng từ virus máy tính, từ sự không tương thích giữa các phần mềm ... gây ảnh hưởng đến tốc độ và hiệu quả hoạt động của laptop không nằm trong phạm vi bảo hành.</p><br />
            <b>Các trường hợp từ chối bảo hành:</b>
            <p>- Máy bị hư hỏng do thiên tai, tai nạn hoặc côn trùng phá hoại.</p>
            <p>- Máy tiếp xúc với chất lỏng hoặc đổ chất lỏng vào máy hoặc được bảo quản/sử dụng trong môi trường ẩm ướt.</p>
            <p>- Sử dụng sai điện áp theo quy định của nhà sản xuất.</p>
            <p>- Sản phẩm bị sét đánh, cháy nổ, bị biến dạng, bị gỉ sét ăn mòn.</p>
            <p>- Các lỗi phát sinh do virus tin học.</p>
            <p>- Dữ liệu bị mất do quá trình sử dụng / bảo hành không thuộc điều khoản bảo hành. Quý khách hàng nên sao lưu dữ liệu định kỳ và sao lưu dự phòng trước khi đem máy đi bảo hành.</p>
            <p>- Tem bảo hành bị rách, bị sửa chữa, hoặc bị dán đè tem khác.</p>
            <p>- Các hao mòn về kiểu dáng, vỏ thiết bị  do tác động của quá trình sử dụng.</p>
            <p>- Các lỗi về phần mềm chỉ được hỗ trợ khắc phục, không thuộc phạm vi bảo hành.</p>
            <p>- Lỗi mất password (nhận diện vân tay/khuôn mặt) do người sử dụng sẽ không được bảo hành. Chi phí khôi phục sẽ được tính tùy theo theo hãng.</p><br />
        </div>
    </div>
</div>

