
@{
    ViewBag.Title = "Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container border border-1 shadow rounded rounded-3 my-3">
    <div class="row">
        <div class="pt-3">
            <h2>Chính sách quy định chung</h2>
        </div>
        <hr />
        <div class="col-12">
            <b>1. Chính sách thanh toán</b>
            <p>- Có 3 hình thức thanh toán, khách hàng có thể lựa chọn hình thức thuận tiện và phù hợp với mình nhất:</p>
            <p>Cách 1: Thanh toán tiền mặt trực tiếp địa chỉ của chúng tôi</p>
            <p>Cách 2: Thanh toán khi nhận hàng (COD), khách hàng xem hàng tại nhà, thanh toán tiền mặt cho nhân viên giao nhận hàng.</p>
            <p>Cách 3: Chuyển khoản trước. Quý khách chuyển khoản trước, sau đó chúng tôi tiến hành giao hàng theo thỏa thuận hoặc hợp đồng với Quý khách.</p>
            <p>- Lưu ý:</p>
            <p>
                Nội dung chuyển khoản ghi rõ họ tên và chuyển cho món hàng nào. Sau khi chuyển khoản, chúng tôi sẽ liên hệ xác nhận và tiến hành giao hàng.
                Nếu sau thời gian thỏa thuận mà chúng tôi không giao hàng hoặc không phản hồi lại, quý khách có thể gửi khiếu nại trực tiếp về địa chỉ trụ sở
                và yêu cầu bồi thường nếu chứng minh được sự chậm trễ làm ảnh hưởng đến kinh doanh của quý khách.
            </p>
            <p>
                Đối với khách hàng có nhu cầu mua số lượng lớn để kinh doanh hoặc buôn sỉ vui lòng liên hệ trực tiếp với chúng tôi để có chính sách giá cả hợp lý.
                Và việc thanh toán sẽ được thực hiện theo hợp đồng.
            </p>
            <p>- Chúng tôi cam kết kinh doanh minh bạch, hợp pháp, bán hàng chất lượng, có nguồn gốc</p><br />

            <b>2. Chính sách xử lý khiếu nại</b>
            <p>- Tiếp nhận mọi khiếu nại của khách hàng liên quan đến việc sử dụng dịch vụ của công ty.</p>
            <p>- Tất cả mọi trường hơp bảo hành, quý khách có thể liên hệ với chúng tôi để làm thủ tục bảo hành.</p>
            <p>- Thời gian giải quyết khiếu nại trong thời hạn tối đa là 03 (ba) ngày làm việc kể từ khi nhận được khiếu nại của của khách hàng. Trong trường hợp bất khả kháng 2 bên sẽ tự thương lượng.</p><br />

            <b>3. Chính sách vận chuyển và giao nhận</b>
            <p>Thông thường sau khi nhận được thông tin đặt hàng chúng tôi sẽ xử lý đơn hàng trong vòng 24h và phản hồi lại thông tin cho khách hàng về việc thanh toán và giao nhận. 
            Thời gian giao hàng thường trong khoảng từ 3-5 ngày kể từ ngày chốt đơn hàng hoặc theo thỏa thuận với khách khi đặt hàng. Tuy nhiên, cũng có trường hợp việc giao hàng 
            kéo dài hơn nhưng chỉ xảy ra trong những tình huống bất khả kháng như sau:</p>
            <p>- Nhân viên chúng tôi liên lạc với khách hàng qua điện thoại không được nên không thể giao hàng.</p>
            <p>- Địa chỉ giao hàng bạn cung cấp không chính xác hoặc khó tìm.</p>
            <p>- Số lượng đơn hàng tăng đột biến khiến việc xử lý đơn hàng bị chậm.</p>
            <p>- Đối tác cung cấp hàng chậm hơn dự kiến khiến việc giao hàng bị chậm lại hoặc đối tác vận chuyển giao hàng bị chậm.</p>
            <p>Về phí vận chuyển, chúng tôi sử dụng dịch vụ vận chuyển ngoài nên cước phí vận chuyển sẽ được tính theo phí của các đơn vị vận chuyển tùy vào vị trí và khối lượng của đơn hàng, 
            khi liên hệ lại xác nhận đơn hàng với khách sẽ báo mức phí cụ thể cho khách hàng.</p>
            <p>Riêng khách tỉnh có nhu cầu mua số lượng lớn hoặc khách buôn sỉ nếu có nhu cầu mua sản phẩm , chúng tôi sẽ nhờ dịch vụ giao nhận của các công ty vận chuyển và phí sẽ được tính theo phí
            của các đơn vị cung cấp dịch vụ vận chuyển hoặc theo thoản thuận hợp đồng giữa 2 bên.</p><br />

            <b>4. Chính sách đổi trả và hoàn tiền</b><br />
            <b><i>Trường hợp được đổi/trả hàng:</i></b>
            <p>- Sản phẩm mua rồi nhưng không ưng ý</p>
            <p>Người mua có thể trả hàng khi không vừa ý trong vòng 1h kể từ khi nhận hàng, THT Store sẽ đổi sản phẩm cho khách. Sản phẩm muốn đổi hoặc trả cần giữ sản phâm nguyên đai, chưa mở nắp, chưa sử dụng. 
            Không nhất thiết còn tem mác hay hỏng hộp. Không bị méo mó, biến dạng.</p>
            <p>- Sản phẩm mua bị lỗi – Quá hạn sử dụng</p>
            <p>Quý khách vui lòng kiểm tra sản phẩm trước khi thanh toán. Trong trường hợp sản phẩm bị hư hại trong quá trình vận chuyển, quý khách vui lòng từ chối và gửi lại sản phẩm cho chúng tôi</p>
            <p>- Sản phẩm không sử dụng được ngay khi được giao</p>
            <p>Trước tiên, hãy dành thời gian đọc kỹ tem hướng dẫn sử dụng và chắc rằng sản phẩm phù hợp với nhu cầu của bạn. Vui lòng liên hệ ngay cho chúng tôi để được hỗ trợ hồi trả lại hàng</p>
            <p>- Sản phẩm giao không đúng theo đơn đặt hàng</p>
            <p>Bạn nghĩ rằng sản phẩm giao cho bạn không đúng với đơn đặt hàng? Hãy liên hệ với chúng tôi càng sớm càng tốt, hệ thống của chúng tôi sẽ kiểm tra nếu hàng của bạn bị gửi nhầm. Trong trường hợp đó, 
            chúng tôi sẽ thay thế đúng mặt hàng bạn yêu cầu (khi có hàng).</p>
            <b><i>Điều kiện đổi trả hàng</i></b>
            <p>Điều kiện về thời gian đổi trả: trong vòng 01 ngày kể từ khi nhận được hàng và phải liên hệ gọi ngay cho chúng tôi theo số điện thoại trên để được xác nhận đổi trả hàng.</p>
            <p>Điều kiện đổi trả hàng:</p>
            <p>– Sản phẩm gửi lại phải còn nguyên đai nguyên kiện</p>
            <p>– Phiếu bảo hành (nếu có) và tem của công ty trên sản phẩm còn nguyên vẹn.</p>
            <p>– Sản phẩm đổi/ trả phải còn đầy đủ hộp, giấy Hướng dẫn sử dụng và chưa qua sử dụng.</p>
            <p>– Quý khách chịu chi phí vận chuyển, đóng gói, thu hộ tiền, chi phí liên lạc tối đa tương đương 20% giá trị đơn hàng.</p>
            <b><i>Quy trình đổi trả hàng</i></b>
            <p>- Bước 1: Sau khi nhận được hàng. Yêu cầu quý vị kiểm tra kỹ 1 lần trước khi nhận hàng. Nếu có vấn đề xin vui lòng liên hệ Trung tâm hỗ trợ khách hàng tại thời điểm nhân viên giao hàng
            còn ở đó – Trường hợp sau khi nhân viên giao hàng đã đi – Nếu muốn đổi trả hàng có thể liên hệ với chúng tôi để được xử lý và hẹn lịch đổi trả hàng</p>
            <p>- Bước 2: Sau khi Trung tâm hỗ trợ khách hàng thông báo lịch hẹn nhận hàng trả</p><br />

            <b>5. Chính sách bảo hành</b><br />
            <b><i>Trường hợp được bảo hành:</i></b>
            <p>- Sản phẩm trong thời hạn còn bảo hành</p>
            <p>- Lỗi về máy, pin và bị hư hỏng do các điều kiện tự nhiên, không có sự tác động của con người</p>
            <p>- Sản phẩm được bảo hành theo quy định của nhà cung cấp</p>
            <p>- Quý khách xuất trình phiếu bảo hành khi bảo hành.</p>
            <b><i>Trường hợp không được bảo hành:</i></b>
            <p>- Sản phẩm đã quá thời hạn ghi trên Phiếu bảo hành hoặc mất Phiếu bảo hành.</p>
            <p>- Phiếu bảo hành không ghi rõ mã số sản phẩm và ngày mua hàng.</p>
            <p>- Mã số sản phẩm và Phiếu bảo hành không trùng khớp nhau hoặc không xác định được vì bất kỳ lý do nào.</p>
            <p>- Sản phẩm bị trầy xước do quá trình sử dụng lâu ngày</p>
            <p>- Sản phẩm bị bể móp, biến dạng do bị va đập</p>
            <p>- Khách hàng tự ý can thiệp vào máy của sản phẩm hoặc đem đến một nơi nào khác sửa chữa.</p>
            <b><i>Điều kiện đổi trả hàng hoặc hoàn tiền 100%:</i></b>
            <p>- Sản phẩm phát hiện bị lỗi của nhà sản xuất khi nhận hàng.</p>
            <p>- Sản phẩm không giống với sản phẩm mà Quý khách đã đặt hàng trên website của chúng tôi.</p>
            <p>Lưu ý:</p>
            <p>- Khách hàng cần đổi trả hàng trong vòng 7 ngày làm việc tính từ thời điểm quý khách nhận hàng.</p>
            <p>- Sản phẩm đổi trả cần nguyên vẹn nhãn mác, hộp, bao bì gốc của sản phẩm như khi Quý khách nhận hàng lúc đầu</p><br />
        </div>
    </div>
</div>

