
@{
    ViewBag.Title = "Warranty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container border border-1 shadow rounded rounded-3 my-3">
    <div class="row">
        <div class="pt-3">
            <h2>Chính sách bảo hành</h2>
        </div>
        <hr />
        <div class="col-11">
            <b>QUY TẮC VÀNG</b>
            <p>Khi quý khách mua máy xong, về sài trong vòng 30 ngày đầu nếu máy có lỗi phần cứng hoàn toàn có thể đến công ty của chúng tôi để đổi lấy máy khác.</p>
            <p>Nếu trong 30 ngày đầu sài máy, quý khách cảm thấy không phù hợp với nhu cầu thì có 2 cách sau:</p>
            <p>- Cách 1: Đổi lấy máy khác cho phù hợp với nhu cầu sử dụng của quý khách, Tín Phát xin cam kết sẽ phục vụ cho quý khách hoàn toàn miễn phí.</p>
            <p>- Cách 2: Lấy lại tiền, phí quý khách phải bù lỗ cho THT Store là 20% giá trị của máy khi mua.</p>
            <p>Hỗ trợ cài windows và phần mềm, vệ sinh máy miễn phí cho tất cả các máy bán ra từ THT Store (có tem hoặc phiếu bảo hành của THT Store)</p>
            <p>Gói bảo hành mở rộng, đối với khách hàng mua máy bảo hành 6 tháng tại Tín Phát mà còn trong thời gian bảo hành, có thể đến công ty
            để gia hạn thêm thời gian bảo hành cho sản phẩm, cụ thể như sau:</p>
            <p>- Mua thêm phiếu bảo hành 6 tháng cho sản phẩm với giá 300.000đ (với các máy hiệu năng cao 500.000đ)</p>
            <p>- Mua thêm phiếu bảo hành 12 tháng cho sản phẩm với giá 700.000đ</p>
            <p>Tư vấn hoàn toàn miễn phí khi quý khách có người thân muốn mua laptop mới mà đang phân vân không biết lựa chọn như thế nào cho hợp lý
            vì laptop mới khi mua sẽ không được test kỹ và có những lựa chọn giống ở trên so với laptop cũ.</p><br />
            <b>QUY ĐỊNH BẢO HÀNH</b>
            <p>Lưu ý: Quý khách đến bảo hành vui lòng đến sau 13h30 các ngày trong tuần ( CN không bảo hành vì nhân viên kỹ thuật nghỉ).</p>
            <p>Quý khách đến bảo hành vào buổi sáng vui lòng để lại máy cho nhân viên kỹ thuật kiểm tra, sau 13h30 sẽ liên hệ lại quý khách để báo kết quả.</p>
            <p>THT Store xin chân thành cảm ơn!</p><br />
            <b>ĐIỀU KIỆN ÁP DỤNG:</b>
            <p>Máy bị lỗi kỹ thuật do nhà sản xuất.</p>
            <p>Máy còn trong thời gian bảo hành, còn nguyên tình trạng và ngoại hình như lúc quý khách mua, còn nguyên tem của THT Store 
            (phải có phiếu bảo hành đối với khách hàng khi mua máy yêu cầu lấy phiếu bảo hành hoặc mua thêm phiếu bảo hành mở rộng, trường hợp khác bảo hành qua tem ).</p><br />
            <b>KHÔNG GIẢI QUYẾT CÁC TRƯỜNG HỢP SAU:</b>
            <p>Máy bị trầy xước nhiều so với lúc mới mua, tem bảo hành bị mờ, bị rách, hoặc có dấu hiệu dùng dung môi hoặc máy chuyên dụng để lột tem ra rồi dán lại 
            ( tem sẽ bị dính dung môi hoặc nhăn không như tem dán lần đầu).</p>
            <p>Màn hình cấn. sọc chỉ.</p>
            <p>Phụ kiện đi kèm theo máy bị mất.</p>
            <p>Máy tính hoặc các phụ kiện kèm theo bị ẩm, cháy nổ, bị vỡ, nứt sẽ không được bảo hành. Bao gồm có dấu hiệu ẩm ướt, nứt, có mùi khét…</p>
            <p>Khách quên PASSWORD BIOS, không đúng PASSWORD dấu vân tay, không phục hồi được PASSWORD…</p>
            <p>Máy tính bị các lỗi liên quan đến phần mềm (do cài đặt không đúng cách).</p>
            <p>Số điểm chấm màn hình nằm trong qui định của nhà sản xuất (nhiều hơn 5 điểm).</p>
            <p>Không bảo hành với các lỗi do cảm nhận cá nhân (loa nhỏ, màn hình không sáng, yếu,... so với dòng sản phẩm khác)</p><br />
            <b>QUY TRÌNH KIỂM TRA VÀ BẢO HÀNH MÁY</b>
            <p>Khách hàng tại khu vực TP Hồ Chí Minh:</p>
            <p>Địa chỉ nhận bảo hành: 475A Điện Biên Phủ, P.25, Q.Bình Thạnh, TP.HCM</p>
            <p>Nhân viên kỹ thuật sẽ tiếp nhận máy và tiến hành thẩm định lỗi.</p>
            <p>Thời gian thẩm định trung bình là 2 giờ, tối đa: 01 ngày.</p>
            <p>Tất cả máy lỗi này sẽ được chúng tôi xử lý triệt để cho quý khách. Đối với những máy còn bảo hành chính hãng, tất cả các lỗi sẽ được trả cho nhà cung cấp.</p><nr></nr>
        </div>
    </div>
</div>

