
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mb-3">
    <div class="row mb-2">
        <h2>Blog</h2>
        <div class="col-md-8 col-sm-12">
            <div class="bog">
                <div class="row">
                    <div class="col-6">
                        <div class="card" style="width: 440px; height:450px">
                            <img src="~/images/sanpham/mac2.jpg" class="card-img-top" style="width: 435px; height:350px" alt="...">
                            <div class="card-body">
                                <b>Laptop hot...</b>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="row">
                            <div class="col-6">
                                <div class="card mx-2" style="width: 210px; height:220px">
                                    <img src="~/images/sanpham/asus1.jpg" class="card-img-top" style="width: 205px; height:165px" alt="...">
                                    <div class="card-body">
                                        <b class="card-text">Laptop hot...</b>
                                    </div>
                                </div>
                                <div class="card mx-2 mt-2" style="width: 210px; height:220px">
                                    <img src="~/images/sanpham/asus2.jpg" class="card-img-top" style="width: 205px; height:165px" alt="...">
                                    <div class="card-body">
                                        <b class="card-text">Laptop hot...</b>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="card mx-2" style="width: 210px; height:220px">
                                    <img src="~/images/sanpham/asus3.jpg" class="card-img-top" style="width: 205px; height:165px" alt="...">
                                    <div class="card-body">
                                        <b class="card-text">Laptop hot...</b>
                                    </div>
                                </div>
                                <div class="card mx-2 mt-2" style="width: 210px; height:220px">
                                    <img src="~/images/sanpham/asus4.jpg" class="card-img-top" style="width: 205px; height:165px" alt="...">
                                    <div class="card-body">
                                        <b class="card-text">Laptop hot...</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="card mb-3" style="width: 880px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/images/sanpham/msi1.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3" style="width: 880px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/images/sanpham/msi2.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="col-md-4 col-sm-12 ">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>
