@using WebApplication1.Models.Data
@using System.Globalization
@model Blog
@{
    ViewBag.Title = "BlogDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mb-3">
    <div class="row mb-2 pt-3">
        <div class="col-md-12 col-sm-12 border border-1 shadow rounded rounded-3">
            <div class=row>
                <div class="col-md-12">
                    <h1>@Html.Raw(Model.Title)</h1>
                    <div style="text-align:right">
                        <i>@Html.Raw(Model.DateCreate)</i>
                    </div>

                </div>
                <hr />
                @*<div class="col-md-12 pt-3">
                        <img class="img-fluid" src="@Url.Content(Model.image)" style="height:auto; width:auto;" />
                    </div>*@
                <div class="col-md-12">
                    @Html.Raw(Model.Content)
                </div>

            </div>
        </div>

    </div>
</div>
