<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> THT Laptop Store </title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="~/CSS/style.css" rel="stylesheet" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="~/images/logo/logotht1.png" style="height:80px; width:220px;" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" style="color:dimgray" href="#"><b>TRANG CHỦ</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:dimgray" href="#"><b>SẢN PHẨM</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:dimgray" href="#"><b>LINH KIỆN</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:dimgray" href="#"><b>PHỤ KIỆN</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:dimgray" href="#"><b>KHUYẾN MÃI</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:dimgray" href="#"><b>TIN TỨC</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:dimgray" href="#"><b>LIÊN HỆ</b></a>
                        </li>
                        <li class="nav-item">
                            <i class="fa fa-search fa-2x" aria-hidden="true"></i>
                        </li>
                        <li class="nav-item">
                            <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                        </li>
                        <li class="nav-item">
                            <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i><b>(3)</b>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header><!--END HEADER-->

    <section id="main_content">
        @RenderBody()
    </section><!--end main_content-->

    <footer>
        <div class="container-fluid">
            <div class="row">
                <img src="~/images/bia/bia5.PNG" style="width:100%" />
                <div class="col-4">
                    <a class="nav-link active" style="color:black" href="#"><b>CHÍNH SÁCH</b></a>
                    <a class="nav-link active" style="color:dimgray" href="#">Về chúng tôi</a>
                    <a class="nav-link active" style="color:dimgray" href="#">Chính sách quy định chung</a>
                    <a class="nav-link active" style="color:dimgray" href="#">Điều kiện bảo hành</a>
                    <a class="nav-link active" style="color:dimgray" href="#">Chính sách bảo hành</a>
                    <a class="nav-link active" style="color:dimgray" href="#">Tin tức</a>
                    <a class="nav-link active" style="color:dimgray" href="#">Liên hệ</a>
                </div>
                <div class="col-4">
                    <a class="nav-link active" style="color:black" href="#"><b>HỖ TRỢ</b></a>
                    <a class="nav-link active" style="color:dimgray" href="#">Tổng đài tư vấn: 0989969919</a>
                    <a class="nav-link active" style="color:dimgray" href="#">Tư vấn mua hàng: 0123456789</a>
                    <a class="nav-link active" style="color:dimgray" href="#">Hỗ trợ kỹ thuật: 0163686839</a>
                    <a class="nav-link active" style="color:dimgray" href="#">Phản hồi, góp ý: 0386969056</a>
                </div>
                <div class="col-4">
                    <b>CỬA HÀNG</b>
                </div>
            </div>
            <b><center>&copy; @DateTime.Now.Year - by THT Store</center></b>
        </div>

    </footer>

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
