@using WebApplication1.Models.Data;
@model User
@{
    ViewBag.Title = "Finish";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Đặt hàng thành công !!</h4>
        <p>Cảm ơn <b>@Model.fullName</b> đã tin dùng sản phẩm của THTLaptopStore. </p>
        <hr>
        <p class="mb-0">Thông tin về đơn hàng sẽ được chúng tôi cập nhật cho bạn trong thời gian sớm nhất.</p>
    </div>
</div>

