
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Sản phẩm </h2>
    <div class="row">
        <div class="col-3">
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
                    Nhu cầu sử dụng
                </button>
                <button type="button" class="list-group-item list-group-item-action">Văn phòng</button>
                <button type="button" class="list-group-item list-group-item-action">Chơi game</button>
                <button type="button" class="list-group-item list-group-item-action">Đồ họa</button>
                <button type="button" class="list-group-item list-group-item-action">Học tập </button>

            </div>
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
                    Ổ cứng
                </button>
                <button type="button" class="list-group-item list-group-item-action">128GB</button>
                <button type="button" class="list-group-item list-group-item-action">256GB</button>
                <button type="button" class="list-group-item list-group-item-action">512GB</button>
                <button type="button" class="list-group-item list-group-item-action">1T</button>
            </div>
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
                    CPU
                </button>
                <button type="button" class="list-group-item list-group-item-action">Core i3</button>
                <button type="button" class="list-group-item list-group-item-action">Core i5</button>
                <button type="button" class="list-group-item list-group-item-action">Core i7</button>
                <button type="button" class="list-group-item list-group-item-action">AMD</button>
            </div>

        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-md-3 col-sm-4">
                    <div class="card">
                        <img src="~/images/sanpham/msi3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">Laptop MSI GF65 Thin 10UE 286VN</p>
                            <p class="card-text text-danger fw-bold">27.990.000 VND</p>
                            <a href="#" class="btn btn-primary">Chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="card">
                        <img src="~/images/sanpham/asus1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">Laptop Asus Zenbook - AMD Ryzen5 4500u</p>
                            <p class="card-text text-danger fw-bold">21.990.000 VND</p>
                            <a href="#" class="btn btn-primary">Chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="card">
                        <img src="~/images/sanpham/hp1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">HP Pavilion X360 14- Intel Core i5 11th</p>
                            <p class="card-text text-danger fw-bold">14.990.000 VND</p>
                            <a href="#" class="btn btn-primary">Chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="card">
                        <img src="~/images/sanpham/hp2.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">Laptop Asus Zenbook - AMD Ryzen5 4500u</p>
                            <p class="card-text text-danger fw-bold">21.990.000 VND</p>
                            <a href="#" class="btn btn-primary">Chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="card">
                        <img src="~/images/sanpham/msi2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">Laptop Asus Zenbook - AMD Ryzen5 4500u</p>
                            <p class="card-text text-danger fw-bold">21.990.000 VND</p>
                            <a href="#" class="btn btn-primary">Chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="card">
                        <img src="~/images/sanpham/mac1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">Laptop Asus Zenbook - AMD Ryzen5 4500u</p>
                            <p class="card-text text-danger fw-bold">21.990.000 VND</p>
                            <a href="#" class="btn btn-primary">Chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="card">
                        <img src="~/images/sanpham/hp5.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">Laptop Asus Zenbook - AMD Ryzen5 4500u</p>
                            <p class="card-text text-danger fw-bold">21.990.000 VND</p>
                            <a href="#" class="btn btn-primary">Chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="card">
                        <img src="~/images/sanpham/msi4.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">Laptop Asus Zenbook - AMD Ryzen5 4500u</p>
                            <p class="card-text text-danger fw-bold">21.990.000 VND</p>
                            <a href="#" class="btn btn-primary">Chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="card">
                        <img src="~/images/sanpham/asus3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">Laptop Asus Zenbook - AMD Ryzen5 4500u</p>
                            <p class="card-text text-danger fw-bold">21.990.000 VND</p>
                            <a href="#" class="btn btn-primary">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


