
@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container my-3">
        <div class="row">
            <div class="col-md-12 mx-auto w-50 mt-5 rounded rounded-3 border border-3 border-dark p-0">
                @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                {
                    <h3 class="text-center mt-2"><b>Đăng nhập</b></h3>
                    <div class="mb-3 mx-3">
                        <label for="username" class="form-label">Tài khoản</label>
                        <input type="text" name="userName" class="form-control border-dark" id="username" required>
                    </div>
                    <div class="mb-3 mx-3">
                        <label for="password" class="form-label">Mật khẩu</label>
                        <input type="password" name="password" class="form-control border-dark" id="password" required>
                    </div>
                    <div class="mb-3 mx-3">
                        <span style="color:red">@ViewBag.Notice</span>
                    </div>
                    <div class="mb-3 text-center">
                        <button type="submit" class="btn btn-success w-75 mx-auto text-center"><b>Đăng nhập</b></button>
                    </div>
                }
            </div>
        </div>
    </div>

    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
