
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mb-3">
    <div class="row mb-2">
        <div class="col-md-8 col-sm-12">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/images/bia/bia2.PNG" class="d-block w-100" style="height:400px;">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/bia/bia3.PNG" class="d-block w-100" style="height:400px;">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/bia/bia1.png" class="d-block w-100" style="height:400px;">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 ">
            <div class="row">
                <img src="~/images/bia/bia7.png" class="d-block w-100" style="height:200px; padding-left:0px;">
            </div>
            <div class="row">
                <img src="~/images/bia/bia1.png" class="d-block w-100" style="height:200px; padding-left:0px;">
            </div>
        </div>
    </div>
    <img src="~/images/bia/bia4.PNG" style="width:100%" />
</div>

<div class="container mb-3 border border-1 shadow rounded rounded-3">
    <div class="row">
        <h4 class="text-center pt-1"><b>LAPTOP NỔI BẬT</b></h4>
        <hr />
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <img src="~/images/sanpham/mac1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-title">Macbook Air 13 Late 2020 - M1 16GB SSD 512GB</p>
                    <p class="card-text text-danger fw-bold">36.990.000 VND</p>
                    <a href="#" class="btn btn-primary">Chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 ">
            <div class="card">
                <img src="~/images/sanpham/mac3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-title">MacBook Pro 2020 13 inch - Core i5 2.0GHz - SSD 512GB</p>
                    <p class="card-text text-danger fw-bold">33.490.000 VND</p>
                    <a href="#" class="btn btn-primary">Chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 ">
            <div class="card">
                <img src="~/images/sanpham/mac4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-title">Macbook Air 2020 13 inch - Core i3 1.1GHz 256GB</p>
                    <p class="card-text text-danger fw-bold">23.990.000 VND</p>
                    <a href="#" class="btn btn-primary">Chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 ">
            <div class="card">
                <img src="~/images/sanpham/mac2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-title">Macbook Air 13-inch - Model 2017 - Intel Core i5 1.8Ghz</p>
                    <p class="card-text text-danger fw-bold">18.990.000 VND</p>
                    <a href="#" class="btn btn-primary">Chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 ">
            <div class="card">
                <img src="~/images/sanpham/msi2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-title">Laptop MSI GF65 Thin 10UE-228VN - Intel Core i7</p>
                    <p class="card-text text-danger fw-bold">31.990.000 VND</p>
                    <a href="#" class="btn btn-primary">Chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 ">
            <div class="card">
                <img src="~/images/sanpham/msi3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-title">Laptop MSI GF65 Thin 10UE 286VN - Intel Core i5</p>
                    <p class="card-text text-danger fw-bold">27.990.000 VND</p>
                    <a href="#" class="btn btn-primary">Chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 ">
            <div class="card">
                <img src="~/images/sanpham/msi4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-title">Laptop Gaming MSI GE66 Raider 10SFS-474VN - Intel Core i7</p>
                    <p class="card-text text-danger fw-bold">18.990.000 VND</p>
                    <a href="#" class="btn btn-primary">Chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 ">
            <div class="card">
                <img src="~/images/sanpham/msi1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-title">Laptop MSI Bravo 15 A4DCR 270VN - AMD Ryzen 5</p>
                    <p class="card-text text-danger fw-bold">17.990.000 VND</p>
                    <a href="#" class="btn btn-primary">Chi tiết</a>
                </div>
            </div>
        </div>

    </div>
</div>


@* ******************* *@

<div class="container mb-3 border border-1 shadow rounded rounded-3">
    <div class="row">
        <h4 class="text-center pt-1"><b> LINH - PHỤ KIỆN NỔI BẬT</b></h4>
        <div class="col-md-3 col-sm-6 ">
            <div class="card">
                <img src="~/images/sanpham/phukien1.PNG" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-title">Ram DDR4 8GB</p>
                    <p class="card-text text-danger fw-bold">1.090.000 VND</p>
                    <a href="#" class="btn btn-primary">Chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 ">
            <div class="card">
                <img src="~/images/sanpham/phukien2.PNG" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-title">Bộ vệ sinh Laptop</p>
                    <p class="card-text text-danger fw-bold">50.000 VND</p>
                    <a href="#" class="btn btn-primary">Chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 ">
            <div class="card">
                <img src="~/images/sanpham/phukien3.PNG" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-title">Keo tản nhiệt MX-4</p>
                    <p class="card-text text-danger fw-bold">149.000 VND</p>
                    <a href="#" class="btn btn-primary">Chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 ">
            <div class="card">
                <img src="~/images/sanpham/phukien4.PNG" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-title">Balo Alienware Vindicator V2.0</p>
                    <p class="card-text text-danger fw-bold">2.199.000 VND</p>
                    <a href="#" class="btn btn-primary">Chi tiết</a>
                </div>
            </div>
        </div>
    </div>
</div>

