
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h4 class="pt-4"><b>Macbook Air 13 Late 2020 - M1 16GB SSD 512GB (CORE I5/8GB/128GB SSD/13.3 INCH LIKE NEW)</b></h4>
</div>

<div class="pt-2">
    <div class="container mb-3 border border-1 shadow rounded rounded-3">

        <div class="row">

            <div class="col-md-auto col-sm-auto col-12 border border-white">
                <img class="img-fluid" src="~/images/sanpham/mac1.png" style="height:500px; width:500px;" />
            </div>

            <div class="col-md-auto col-sm-au col-12" style="margin-left:30px">
                <div class="pt-3    ">

                    <h1 style="color:red;font-size:28px;"><b>36.990.000 VND</b></h1>

                    <div class="pt-2">
                        <div class="border border-1  rounded rounded-3">
                            <div class="p-2" style="margin-left:10px">
                                <p><b>THÔNG TIN SẢN PHẨM</b></p>

                                <div class="row">
                                    @*<div class="col-md-auto col-sm-auto col-12" style="color:Highlight">
                                        <p>Model:</p>
                                        <p>Bảo hành:</p>
                                        <p>Tình trạng:</p>
                                        <p>CPU:</p>
                                    </div>
                                    <div class="col-md-auto col-sm-auto col-12">
                                        <p>Macbook Air 13 Late 2020</p>
                                        <p>Bảo hành 12 tháng</p>
                                        <p>Còn hàng</p>
                                        <p>i5-4265U</p>
                                    </div>*@
                                    <table style="width:100%">
                                        <tr>
                                            <th style="color:Highlight">Model:</th>
                                            <td>Macbook Air 13 Late 2020</td>
                                        </tr>
                                        <tr>
                                            <th style="color:Highlight">Bảo hành:</th>
                                            <td>Bảo hành 12 tháng</td>
                                        </tr>
                                        <tr>
                                            <th style="color:Highlight">Tình trạng:</th>
                                            <td>Còn hàng</td>
                                        </tr>
                                        <tr>
                                            <th style="color:Highlight">CPU:</th>
                                            <td>i5-4265U</td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="pt-3">
                        <div class="border border-1  rounded rounded-3">
                            <div style="margin-left:15px">
                                <p><b>KHUYẾN MÃI</b></p>
                                <ul >
                                    <li>Tặng cặp đựng laptop</li>
                                    <li>Tặng chuột không dây</li>
                                    <li>Tặng cặp đựng laptop</li>
                                    <li>Tặng tấm lót chuột</li>
                                    <li>Tặng phiếu hỗ trợ cài đặt phần mềm</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="pt-3">
                        <a href="#" class="btn btn-primary" style="height:auto; width:auto;"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                    </div>

                </div>

            </div>
            <div class="col-md-3 col-12 pt-3">
                <div class="pt-5">
                    <div class=" border border-1  rounded rounded-3 " style="background-color:whitesmoke">
                        <div class="pt-2" style="margin-left:15px">
                            <p>Đổi trả trong 30 ngày, thủ tục đơn giản và nhanh chóng</p>
                            <p>Giao hàng nhanh miễn phí trong nội thành</p>
                            <p>Bảo hành 12 tháng tận nơi</p>
                        </div>
                    </div>
                </div>
                <div class="pt-3">
                    <div class=" border border-1  rounded rounded-3 ">
                        <div class="pt-2">
                            <center><p><b>Để được hỗ trợ tốt nhất xin hãy gọi</b></p></center>
                            <center><h1 style="color:red;font-size:28px;"><b>0989.969.919</b></h1></center>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-12 pt-3">
                    <div style="margin: auto auto auto 37px">
                        <img src="~/images/logo/qc.PNG" style="height:235px; width:235px;" /> <br /><br />

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

