
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-3 rounded rounded-3 border border-2" style="width:40%;">
    <div class="row">
        <div class="col-md-12">
            <form>
                <h3 class="text-center">Đăng nhập</h3>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Tài khoản</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Mật khẩu</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    Bạn chưa có tài khoản ? <a href="#">Đăng ký</a>
                </div>
                <div class="mb-2 text-center">
                    <button type="submit" class="btn btn-primary mb-2" style="width:100%"><b>Đăng nhập</b></button>
                </div>
            </form>
        </div>
    </div>
    
    
</div>
